@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root{
  --purple: #AE2BFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-font{
  font-family: 'Acme', sans-serif;
  color: #3A0E55;
}

/* Footer Section Starts Here */
.footer-bg {
  background-color: #AE2BFF;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-text-color {
  color:  #FDFDFD;
}

.eazy-footer {
  font-family: 'Gilmer Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.footer-icon-size {
  height: 25px;
  width: 25px;
}

.footer-icon-margin {
  margin: 0 30px;
}
.vertical-padding-icon {
  padding: 20px 0;
}

.footer-vertical-padding {
  padding: 80px 0;
}

.footer-bottom-padding {
  padding-bottom: 30px;
}

.footer-cirle {
  height: 24px;
  width: 24px;
  background-color: #FDFDFD;
  border-radius: 50%;
  padding-left: 1px;
  position: relative;
  left: 3px;
  top: 3px;
  cursor: pointer;
}

.footer-cirle2 {
  height: 30px;
  width: 30px;
  background-color: #B1B0B0;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 10px;
}

.footer-margin {
  margin-left: 50px;
}


/* footer media-querry */
@media (max-width:780px){
  .footer-margin {
    margin-left: 20px;
  }

  .eazy-footer {
    font-size: 12px;
  }

  .footer-cirle2 {
    margin-left: 20px; 
  }

  .footer-icon-margin {
    margin: 0 20px;
  }

  .footer-icon-size {
    height: 20px;
    width: 20px;
  }
}

@media (max-width:450px){
  .footer-margin {
    margin-left: 10;
  }
}